<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <input type="text" class="form-control" id="currentPass" placeholder="Enter Current Password" required="required"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="newPass" placeholder="Enter New Password" required="required"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="rePass" placeholder="Re-Enter New Password" required="required"/>
        </div>
        <div class="form-group text-right">
            <button class="btn btn-info" id="btnChangePass">Change Password</button>
        </div>
    </div>
</div>
