
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" name="Name" required="required">
        </div>
        <div class="form-group">
            <label for="usr">Father Name:</label>
            <input type="text" class="form-control" name="FatherName" required="required">
        </div>
        <div class="form-group">
            <label for="usr">Mother Name:</label>
            <input type="text" class="form-control" name="MotherName" required="required">
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control" name="Email" required="required">
        </div>
        <div class="form-group">
            <label>Phone No:</label>
            <input type="text" class="form-control" name="ContactNo" required="required">
        </div>
        <div class="form-group">
            <label for="usr">Role:</label>
            <select class="form-control" name="Role" required="required">
                <option value="">SELECT</option>
                <option value="Admin">Admin</option>
                <option value="Teacher">Teacher</option>
                <option value="Student">Student</option>
            </select>
        </div>
        <div id="StudentOnly" class="d-none">
            <div class="form-group">
                <label>Class:</label>
                <select name="Class" class="form-control">
                    <option value="">SELECT</option>
                    <option value="PreNur">Pre Nursery</option>
                    <option value="Nursery">Nursery</option>
                    <option value="KG">KG</option>
                    <option value="UKG">UKG</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Date Of Birth:</label>
            <input type="text" class="form-control datebirth" name="Dob" autocomplete="off" required="required">
        </div>
        <div class="form-group">
            <label for="usr">Password:</label>
            <input type="password" class="form-control" name="Password" required="required">
        </div>
        <div class="form-group">
            <label for="usr">Confirm Password:</label>
            <input type="password" class="form-control" name="ConfirmPassword" required="required">
        </div>
        <div class="form-group">
            <label class="control-label">Upload Image<span class="required">*:</span></label>
            <input type="file" class="form-control" name="PassportImage" required="required"/>
        </div>
        <div class="form-group text-right">
            <button class="btn btn-info" id="btnRegistration">Submit</button>
        </div>
    </div>
</div>

<script src="~/Content/JS/datpikr.js"></script>
<script>
    $('input[name="Dob"]').datepicker();
    $('select[name="Role"]').change(() => {
        if ($('select[name="Role"]').val() === 'Student') {
            $('#StudentOnly').removeClass('d-none');
        }
        else {
            $('#StudentOnly').addClass('d-none');
        }
    });
</script>