@model IEnumerable<Awadh.Models.SubjectMasterModel>
@{
    ViewBag.Title = "Uploads";
}

@section cardHeader{
    <h4>Uploads</h4>
}

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">Save Vedio Url</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Class:</label>
                                <select class="form-control" id="ddlClass" name="Class" required="required">
                                    <option value="0">SELECT</option>
                                    <option value="PreNur">Pre Nursery</option>
                                    <option value="Nursery">Nursery</option>
                                    <option value="KG">KG</option>
                                    <option value="UKG">UKG</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Subject</label>
                                <select class="form-control" id="ddlSubject" name="Subject" required="required">
                                    <option value="0">SELECT</option>
                                    @if (Model != null && Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            <option value="@item.SubjectId">@item.SubjectName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Tittle</label>
                                <input type="text" class="form-control" id="txtTitle" name="Title" required="required">
                            </div>
                            <div class="form-group">
                                <label>Choose Type:</label>
                                <input type="radio" name="UploadType" id="rdLink" data-Is-Link="true" />
                                <label for="rdLink">Link</label>
                                <input type="radio" name="UploadType" id="rdFile" data-Is-Link="false" />
                                <label for="rdFile">File</label>
                            </div>
                            <div class="form-group">
                                <label for="txtLink" class="d-none">URL</label>
                                <input type="text" id="txtLink" class="form-control d-none" name="URL">
                                <label for="inputFile" class="d-none">Choose File:</label>
                                <input type="file" id="inputFile" class="form-control d-none" multiple="multiple" name="InputFile" />
                            </div>
                            <div class="form-group" name="Description">
                                <label>Description</label>
                                <textarea class="form-control" id="textDescription" name="Description"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info" id="btnSave">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('input[name="UploadType"]').unbind().click(e => {
            switch ($(e.currentTarget).attr('id')) {
                case 'rdLink':
                    $('#inputFile,[for="inputFile"]').addClass('d-none');
                    $('#txtLink,[for="txtLink"]').removeClass('d-none');
                    break
                case 'rdFile':
                    $('#inputFile,[for="inputFile"]').removeClass('d-none');
                    $('#txtLink,[for="txtLink"]').addClass('d-none');
                    break
                default:
                    $('#inputFile,[for="inputFile"]').addClass('d-none');
                    $('#txtLink,[for="txtLink"]').addClass('d-none');
                    break
            }
        });

        $('#btnSave').click(() => {
            btnLdr.Start($('#btnSave'), 'Requesting......');
            if ($.FormValidation.IsFormValid()) {
                var data = new FormData();
                if ($('input[name="InputFile"]') !== undefined && $('input[name="InputFile"]') !== '') {
                    var files = $('input[name="InputFile"]').get(0).files;
                    if (files.length > 0) {
                        data.append("Files", files[0]);
                    }
                }
                data.append("Class", $('select[name="Class"]').val());
                data.append("Title", $('input[name="Title"]').val());
                data.append("URL", $('input[name="URL"]').val());
                data.append("SubjectID", $('select[name="Subject"]').val());
                data.append("Description", $('textarea[name="Description"]').val());
                data.append("IsLink", $('input[name="UploadType"]:checked').data().isLink);
                $.ajax({
                    url: '/teacher/UploadStudyMaterial',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        btnLdr.Stop($('#btnSave'));
                        Q.alert({ response: response });
                        Q.reset();
                        mdlA.dispose();
                        $('#inputFile,[for="inputFile"]').addClass('d-none');
                        $('#txtLink,[for="txtLink"]').addClass('d-none');
                    },
                    error: function (xhr) {
                        btnLdr.Stop($('#btnSave'));
                        Q.alert({ xhr: xhr })
                    }
                });
            }
            else {
                btnLdr.Stop($('#btnSave'));
            }
        })
    </script>


}
