@{
    ViewBag.Title = "Index";
    Layout = "~/views/Shared/_LayoutTeacher.cshtml";
}
@section cardHeader{
    <h4>User Details</h4>
}
<div ng-app="MyApp" ng-controller="FileUpload">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>RegId</th>
                            <th>Name</th>
                            <th>FatherName </th>
                            <th>MotherName </th>
                            <th>Phone </th>
                            <th>Class </th>
                            <th>Dob </th>
                            <th>Password </th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        (() => {
            var changeStatus = e => {
                let param = {
                    RegId: $(e.currentTarget).data().regId,
                    Status: $(e.currentTarget).is(':checked') ? 'Active' : 'Deactivate'
                };
                $.post('/Teacher/ChangeStatus', param).done(result => {
                    Swal.fire({
                        title: 'success',
                        titleText: 'Success!',
                        text: result.Status,
                        icon: 'success',
                        confirmButtonText: '',
                        showConfirmButton: false,
                        toast: true,
                        position: 'top-right',
                        timer: 3000,
                        timerProgressBar: true
                    });
                }).fail(xhr => {
                    Swal.fire({
                        title: 'error',
                        titleText: 'Error!',
                        text: xhr.status === 0 ? 'Internet Connection was broken' : xhr.status === 404 ? 'Requested action not found' : 'internal Server Error',
                        icon: 'error',
                        confirmButtonText: '',
                        showConfirmButton: false,
                        toast: true,
                        position: 'top-right',
                        timer: 3000,
                        timerProgressBar: true
                    });
                })
            };

            var GetUsersList = () => {
                preloader.load();
                $.get('/Common/GetAllProfileDetails').done(result => {
                    console.log(result)
                    $('table tbody').empty().append(result.map((x,i) =>
                        `<tr>
                            <td>${i+1}</td>
                            <td>${x.RegId}</td>
                            <td>${x.Name}</td>
                            <td>${x.Father_Name}</td>
                            <td>${x.Mother_Name}</td>
                            <td>${x.Phone}</td>
                            <td>${x.Class}</td>
                            <td>${x.Password}</td>
                            <td>${x.DOB}</td>
                            <td><span class="switch switch-sm">
                                    <input type="checkbox" class="switch changeStatus" data-Reg-Id=${x.RegId} id="isact_${x.RegId}" ${x.Status === 'Active' ? 'checked="checked"' :""}" />
                                    <label for="isact_${x.RegId}">${x.Status}</label>
                                </span></td>
                        </tr>`
                    ));
                    $('.changeStatus').unbind().click(e => changeStatus(e));
                }).always(() => preloader.remove());
            }
            GetUsersList();
        })();
    </script>
}